body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  form {
    margin-top: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .button {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  